<!---News Cards-->
<h3>Last projects</h3>

<div class="news-cards">
  <div>
    <img src="./assets/design/img/news1.jpg" alt="New One">
    <h3>Lorem, ipsum dolor.</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, at?
    </p>
    <a href="#">Learn More <i class="fas fa-angle-double-right"></i></a>
  </div>
  <div>
    <img src="./assets/design/img/news2.jpg" alt="New Two">
    <h3>Lorem, ipsum dolor.</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, at?
    </p>
    <a href="#">Learn More <i class="fas fa-angle-double-right"></i></a>
  </div>
  <div>
    <img src="./assets/design/img/news3.jpg" alt="New Three">
    <h3>Lorem, ipsum dolor.</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, at?
    </p>
    <a href="#">Learn More <i class="fas fa-angle-double-right"></i></a>
  </div>
  <div>
    <img src="./assets/design/img/news4.jpg" alt="New Four">
    <h3>Lorem, ipsum dolor.</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, at?
    </p>
    <a href="#">Learn More <i class="fas fa-angle-double-right"></i></a>
  </div>
</div>
