<nav class="nav-main">
  <img src="./assets/design/img/brand.png" alt="TechNews LOGO" class="nav-brand">
  <ul class="nav-menu">
    <li>
      <a href="">Home</a>
    </li>
    <li>
      <a href="">Blog</a>
    </li>
    <li>
      <a href="">Projects</a>
    </li>
    <li>
      <a href="">About me</a>
    </li>
    <li>
      <a href="">Contact</a>
    </li>
    <li>
      <a href="">More</a>
    </li>
  </ul>


  <ul class="nav-menu-right search">
    <li>
      <input type="text" name="" id="">
    </li>
  </ul>
  <ul class=" nsv-menu nav-menu-right ">
    <li>
      <a class="search-icon" href="">
        <i class="fas fa-search"></i>
      </a>
    </li>
  </ul>


</nav>
<hr>
