
<section class="social">
  <p>Follow me</p>
  <div class="links">
    <a href="">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="">
      <i class="fab fa-instagram"></i>
    </a>
  </div>
</section>


<div class="footer-links">
  <div class="footer-container">
    <ul>
      <li>
        <a href="">
          <h3>Some courses I recomend</h3>
        </a>
      </li>
      <li>
        <a href="">Advanced Angular - fernando Herrera</a>
      </li>
      <li>
        <a href="">PHP Master - Victor Robles</a>
      </li>
      <li>
        <a href="">Master Java - Alvaro</a>
      </li>
      <li>
        <a href="">Platzi Subscription</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="">
          <h3>My social profile</h3>
        </a>
      </li>
      <li>
        <a href=""><i class="fab fa-facebook"></i> Facebook</a>
      </li>
      <li>
        <a href=""><i class="fab fa-twitter"></i> Twitter</a>
      </li>
      <li>
        <a href=""><i class="fab fa-linkedin-in"></i> LinkedIn</a>
      </li>
      <li>
        <a href=""> <i class="fab fa-github"></i> GitHub</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="">
          <h3>Contact</h3>
        </a>
      </li>
      <li>
        <a href="https://wa.me/50375068027"><i class="fab fa-whatsapp"></i> Whatsapp</a>
      </li>
      <li>
        <a href="mailto:escnil994@nilson-escobar.com"><i class="fas fa-envelope"></i> Email</a>
      </li>
      <li>
        <a href="tel:50375068027">Tel: (503) 7506-8027</a>
      </li>
      <li>
        <a href=""><i class="fab fa-wpforms"></i> through form</a>
      </li>
    </ul>
  </div>
</div>

<div class="footer">
  <h3>Nilson Escobar Copyrigth &copy;</h3>
</div>



